:root {
    --primary-blue: #213E60;
    --secondary-blue: #94B6EF;
    --primary-white: #F4F2EF;
    --primary-orange: #FFA500;
    /* Neon Yellow #CFFF04 */
  }


body{
    margin: 0;
    padding:0; 
    overflow-x: hidden;
}   

.navbar {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    /*color: #4654A3; */
    color: var(--primary-blue);
    position: fixed;
    z-index: 3;
    transform: translateY(-100%);
}

.logo {
    height: 50px;
    opacity: 0;
}

.logo img {
    height: 100%;
}

.navbar-links ul {
    margin: 0; 
    padding: 0; 
    display: flex; 
   
}

.navbar-links li {
    list-style: none;
    opacity: 0;
}

.navbar-links li a {
    text-decoration: none;
    font-family: "Karla", sans-serif;
    font-size: 24px;
    font-weight: 500;
    color: #4654A3; 
    padding: 0.5rem 1rem; 
    display: block;
    margin: auto 0;
}

.navbar-links li:hover {
    background-color: var(--primary-orange);
}

.toggle-button {
    position: absolute;
    top: .75rem; 
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
    opacity: 0;
}

.toggle-button .bar {
    height: 3px;
    width: 100%;
    background-color: var(--primary-blue);
    border-radius: 10px;
}

#landing-page{
    margin: 0; 
    padding: 0;
    width: 100vw;
    height: 100vh;
    background-color: var(--primary-blue);
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    position: relative;
    overflow: hidden;
}

#landing-content {
    padding: 0;
    display: inline-block;
    width: max-content;
    height: max-content;
    margin: auto; 
    
}

#landing-page h1 {
    font-family: "Outfit", sans-serif;
    font-weight: 500;
    font-size: 6vw;
    color: var(--primary-white);
    margin: 0; 
    display: inline-block;
    width: fit-content; 
    z-index: 100;
    clip-path: polygon(0 100%, 100% 100%, 100% 100%, 0 100%);
    opacity: 0;
    transform: translateY(100px);
}


#landing-page h2 {
    font-family: "Karla", sans-serif;
    font-weight: 400;
    font-size: 2vw;
    color: var(--primary-white); 
    margin: 0;
    width: fit-content;
    clip-path: polygon(0 100%, 100% 100%, 100% 100%, 0 100%);
    opacity: 0;
    transform: translateY(100px);
}

.coral-highlight {
    color: var(--primary-orange);
}

#profile-pic-container {
    width: 200px; 
    height: 200px; 
    border-radius: 50%; 
    overflow: hidden; 
    margin: 40px auto;
    transform: translateY(50px);
    opacity: 0;
}

#profile-pic-container img {
    width: 100%; 
    height: auto; 
    display: block; 
}

#learn-more-container {
    width: 200px;
    height: 60px; 
    position: relative;
    margin: 0 auto;
    opacity: 0;
    z-index: 100;
    border: solid white 1px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.25s;
  }

#learn-more-container a {
    text-decoration: none;
    color: white;
    font-family: "Karla", sans-serif;
    font-size: 24px;
    font-weight: 400;
    display: inline-block; 
    padding: 20px 0; 
    text-align: center; 
    text-decoration: none; 
    width: 100%;
}

#learn-more-container:hover{
    box-shadow: inset 200px 0 0 0 var(--primary-white);
    
}

#learn-more-container:hover a {
    color: var(--primary-blue);
}

#svg-container-top {
    right: 0;
    top: -5%;
    width: 30%; 
    padding-bottom: 50%;
    position: absolute;    
}

#svg-container-top svg {
    width: 100%;
    height: 100%;
    opacity: 0.1;
    animation: pulse 7s infinite
}

#svg-container-bottom {
    left: -5%;
    top: 30%;
    width: 40%;
    padding-bottom: 50%;
    position: absolute;
}

#svg-container-bottom svg {
    width: 100%;
    height: 100%;
    opacity: 0.1;
    animation: pulse 7s infinite;
    
}

#about-page{
    position: relative;
    display: flex;
    justify-content: center;
    position: relative;
}

#about-content {
    width: 70%;
}

#about-page h2{
    font-family: "Outfit", sans-serif;
    color: var(--primary-blue);
    font-size: 4vw;
    margin-bottom: 20px;
}

.item-1 { grid-area: item1; }
.item-2 { grid-area: item2; }
.item-3 { grid-area: item3; }
.item-4 { grid-area: item4; }
.item-5 { grid-area: item5; }
.item-6 { grid-area: item6; }

/*Change these for GSAP Scroll Trigger loading in */
.item-1, .item-2, .item-3, .item-4, .item-5, .item-6{
    transform: translateY(0);
    opacity: 1;
}



#about-boxes-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap:20px;
    width:100%;
    grid-template-areas:
        "item1 item2"
        "item3 item4"
        "item5 item6";
    margin-bottom: 30px;
}

.about-box {
    margin-bottom: 20px;
}


.about-box p{
    font-family: "Karla", sans-serif;
    font-weight: 500;
    font-size: 1vw;
    color: var(--primary-blue);
    margin:0;
}

.image-box {
    display: flex;
    justify-content: center;
    align-content: center;
    position: relative;
}

.about-image-container {
    width: 90%; 
    display: flex;
    position: relative;  
    top: 0;
    left:0;
    z-index: 2;
    transition: 0.25s;
}

.right-image {
    transform: translate(-20px, -20px);
}

.left-image{
    transform: translate(20px, -20px);
}

.about-image-container img{
    width: 100%;
    height: auto;
    border-radius: 30px;
}

.image-box:hover .about-image-container {
    transform: translate(0);
    filter: blur(10px) ;
    opacity: 0.5;
}

.image-caption {
    position: absolute;
    width:70%;
    height:100%;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    opacity: 0;
    transition: 0.6s;
    z-index: 100;
    text-align: center;
    
}

.image-caption p {
    color: white;
    font-size: 1.2vw;
    transform: translateY(10px);
    transition: 0.6s;
}

.image-box:hover .image-caption {
    opacity: 1;
}

.image-box:hover .image-caption p{
    transform: translateY(0);
}

.about-image-background{
    width: 90%;
    height: 100%;
    border-radius: 30px;
    background-color: #213E60;
    position: absolute;
    top:0px;
    left: 5%;
}

#key-staff-page{
    position: relative;
    display: flex;
    justify-content: center;
    position: relative;
    background-color: var(--primary-blue);
}

#key-staff-content {
    width: 70%;
}

#key-staff-page h2{
    font-family: "Outfit", sans-serif;
    color: var(--primary-white);
    font-size: 3vw;
    margin-top:30px;
    margin-bottom: 10px;
}

#key-staff-page h3{
    font-family: "Outfit", sans-serif;
    color: var(--primary-white);
    font-size: 2vw;
    text-align: center;
    margin-top: 0;
    margin-bottom: 20px;
    font-weight: 500;
}

.staff-photo-container {
    width: 20%;
}

.staff-photo-container img {
    width: 100%;
    border-radius: 20px;
}

#ian-photo-container {
    float:left;
    margin-right: 20px
}

#dave-photo-container {
    float: right;
    margin-left: 20px;
}

#key-staff-container p {
    font-family: "Karla", sans-serif;
    font-weight: 300;
    font-size: 1vw;
    color: var(--primary-white);
    margin:0;
}


#key-staff-container hr {
    border: 1px solid white;
    width: 80%;
    margin: 40px auto;
}




@font-face {
    font-family: "Outfit";
    src: url("../Fonts/Outfit/Outfit-VariableFont_wght.ttf");
}

@font-face {
    font-family: "Karla";
    src: url("../Fonts/Karla/Karla-VariableFont_wght.ttf");
}

@keyframes pulse {
    0% {
        transform: scale(1); /* Initial size */
    }
    50% {
        transform: scale(1.1); /* Enlarged size */
    }
    100% {
        transform: scale(1); /* Back to initial size */
    }
}

@keyframes rotateInfinite {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}


/*Responsive nav bar for all small devices */
@media (max-width: 767.98px) {
    .toggle-button {
        display: flex;
    }

    .navbar-links {
        display: none;
        width: 100%;
    }

    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }

    .navbar-links ul {
        width: 100%;
        flex-direction: column;
    }

    .navbar-links li {
        text-align: center;
    }

    .navbar-links li a {
        padding: .5rem 1rem;
    }

    .navbar-links.active {
        display: flex;
    }
}



/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) { 
    /* Your styles for extra small devices */
    #landing-page{
        background-color:var(--primary-blue);
    }

    #landing-page h1 {
        font-size: 12vw;
        line-height: 1.1;
    }

    #landing-page h2 {
        font-size: 3vw;
        font-weight: 200;
    }

    #svg-container-top {  
        width: 50%;
    }

    #svg-container-bottom {  
        top: 70%;
        width: 70%;
    }

    #profile-pic-container {
        width: 160px; 
        height: 160px;
    }

    #learn-more-container {
        width: 160px;
        height: 50px; 
    }

    #landing-content {
        width: 75%;
    }

    #about-content {
        width: 70%;
    }
    
    #about-page h2{
        font-family: "Outfit", sans-serif;
        color: var(--primary-blue);
        font-size: 7vw;
        margin-bottom: 20px;
    }

    #about-boxes-container {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(6, auto);
        grid-template-areas:
            "item1"
            "item2"
            "item4"
            "item3"
            "item5"
            "item6";
    }

    .about-box {
        margin-bottom: 0;
    }

    .about-box p{
        font-size: 2vw;
    }

    .about-box br {
        content: "";
        margin: 2em;
        display: block;
        font-size: 20%;
    }

    .about-image-container {
        width: 100%;;
    }

    .about-image-container img{
        border-radius: 20px;
    }

    .right-image {
        transform: translate(0);
    }
    
    .left-image{
        transform: translate(0);
    }

    .about-image-background{
        width: 100%;
        border-radius: 20px;
        left:0;
    }    
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) { 
    /* Your styles for small devices */
    #landing-page{
        background-color:var(--primary-blue);
    }


    #landing-page h2 {
        font-size: 2.5vw;
    }

    #svg-container-bottom {  
        top: 60%;
    }

    #profile-pic-container {
        width: 160px; 
        height: 160px;
    }

    #learn-more-container {
        width: 160px;
        height: 50px; 
    }

    #about-content {
        width: 90%;
    }

    .about-box {
        margin-bottom: 10px;
    }

    .about-box p{
        font-size: 1.3vw;
    }

    .about-box br {
        content: "";
        margin: 2em;
        display: block;
        font-size: 20%;
    }
    
        

    .right-image {
        transform: translate(-10px, -10px);
    }
    
    .left-image{
        transform: translate(10px, -10px);
    }
    
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) { 
    /* Your styles for medium devices */
    #landing-page{
        background-color:var(--primary-blue);
    }

    .navbar-links li a {
        font-size: 18px;
        padding: .5rem 0.5rem;
    }

    #svg-container-bottom {  
        top: 50%;
    }

    #profile-pic-container {
        width: 160px; 
        height: 160px;
    }

    #learn-more-container {
        width: 160px;
        height: 60px; 
    }

    #learn-more-container {
        width: 160px;
        height: 50px; 
    }

    #about-content {
        width: 80%;
    }

    .about-box {
        margin-bottom: 15px;
    }
    

    .about-box p{
        font-size: 1.1vw;
    }

    .right-image {
        transform: translate(-15px, -15px);
    }
    
    .left-image{
        transform: translate(15px, -15px);
    }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) { 
    /* Your styles for large devices */
    #landing-page{
        background-color:var(--primary-blue);
    }

    .navbar-links li a {
        font-size: 22px;
        padding: 0.5rem 0.75rem
    }

    #svg-container-bottom {  
        top: 40%;
    }

    #profile-pic-container {
        width: 180px; 
        height: 180px;
    }

    #learn-more-container {
        width: 180px;
        height: 60px; 
    }

    #learn-more-container {
        width: 180px;
        height: 60px; 
    }

    .right-image {
        transform: translate(-15px, -15px);
    }
    
    .left-image{
        transform: translate(15px, -15px);
    }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) and (max-width: 1399.98px) { 
    /* Your styles for extra large devices */
    #landing-page{
        background-color:var(--primary-blue);
    }

    #svg-container-bottom {  
        top: 40%;
    }

    #profile-pic-container {
        width: 180px; 
        height: 180px;
    }

    #learn-more-container {
        width: 180px;
        height: 60px; 
    }

    #learn-more-container {
        width: 180px;
        height: 60px; 
    }

}

/* XXL devices (very large desktops, 1400px and up) */
@media (min-width: 1400px) { 
    /* Your styles for XXL devices */
    #landing-page{
        background-color: var(--primary-blue);
    }
}