@import '../../variables.css';

.contact {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.contact-form {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 20px;
}

.contact-title h3 {
    font-family: "Outfit", sans-serif;
    color: var(--primary-blue);
    font-size: 2.5vw;
    margin-bottom: 5px;
}

.contact-title hr {
    border: none; 
    width: 120px;
    height: 5px;
    background-color: var(--primary-blue);
    border-radius: 10px;
    margin-bottom: 20px;
    margin-left:0;
}

.contact-inputs {
    font-family: "Karla", sans-serif;
    font-size: 20px;
    width: 400px; 
    height: 50px;
    border: 2px var(--primary-blue) solid; 
    outline: none; 
    padding-left: 25px; 
    font-weight: 500;
    border-radius: 50px;
}

.contact-form textarea {
    height:140px;
    padding-top: 15px;
    border-radius: 20px;
    resize: none;
}

.contact-inputs:focus {
    border: 2px var(--primary-orange) solid;
}

.contact-inputs::placeholder {
    color: #a9a9a9
}

.contact-form button {
    font-family: "Karla", sans-serif;
    display: flex;
    align-items: center;
    padding: 15px 30px;
    font-size: 16px;
    color: white;
    gap: 10px;
    border: none; 
    border-radius: 50px;
    background-color: var(--primary-blue);
    cursor: pointer;
}

.contact-form button img {
    height: 15px
}