@import '../../variables.css';

.contact-container {
    margin: 0 auto;
    width: 450px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.contact-form {
    display: flex;
    width: 90%;
    flex-direction: column;
    align-items: start;
    gap: 20px;
}

.contact-title h3 {
    font-family: "Outfit", sans-serif;
    color: var(--primary-blue);
    font-size: 2.5vw;
    margin-bottom: 5px;
    margin-top: 0;
}

.contact-title hr {
    border: none; 
    width: 120px;
    height: 5px;
    background-color: var(--primary-blue);
    border-radius: 10px;
    margin-bottom: 20px;
    margin-left:0;
}

.contact-inputs {
    font-family: "Karla", sans-serif;
    font-size: 20px; 
    width: 90%;
    height: 50px;
    border: 2px var(--primary-blue) solid; 
    outline: none; 
    padding-left: 25px; 
    font-weight: 500;
    border-radius: 50px;

}

.contact-form textarea {
    height:140px;
    padding-top: 15px;
    border-radius: 20px;
    resize: none;
}

.contact-inputs:focus {
    border: 2px var(--primary-orange) solid;
}

.contact-inputs::placeholder {
    color: #a9a9a9
}

.contact-form button {
    font-family: "Karla", sans-serif;
    display: flex;
    align-items: center;
    padding: 15px 30px;
    font-size: 16px;
    color: white;
    gap: 10px;
    border: none; 
    border-radius: 50px;
    background-color: var(--primary-blue);
    cursor: pointer;
    transition: 0.2s;
}

.contact-form button img {
    height: 15px
}

.contact-form button:hover {
    transform: scale(1.05); 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
    border: 2px solid var(--primary-orange);
}

.contact-form button:active {
    transform: scale(0.95); 
}

/* ----- Responsive Settings ------ */

/* Extra small devices (portrait phones, less than 576px) */

@media (max-width: 767.98px) { 
    .contact-container {
        width: 100%;
    }

    .contact-inputs {
        width: 90%;
        padding-left: 15px; 
        margin: 0;
    }

    .contact-title h3 {
        font-size: 7vw;
    }

    .contact-inputs {
        font-size: 16px;
    }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) { 
    .contact-title h3 {
        font-size: 4vw;
    }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) { 
    .contact-title h3 {
        font-size: 4vw;
    }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) and (max-width: 1399.98px) { 
    .contact-title h3 {
        font-size: 4vw;
    }
}