@import '../../variables.css';

.navbar {
    width: 100%; 
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    color: #4654A3; 
    color: var(--primary-blue);
    position: fixed;
    z-index: 3;
    /*transform: translateY(-100%);*/
}


.logo {
    height: 50px;
    /*opacity: 0; */
}

.logo img {
    height: 100%;
}

.navbar-links ul {
    margin: 0; 
    padding: 0; 
    display: flex; 
   
}

.navbar-links li {
    list-style: none;
    /*opacity: 0; */
}

.navbar-links li a {
    text-decoration: none;
    font-family: "Karla", sans-serif;
    font-size: 24px;
    font-weight: 500;
    color: #4654A3; 
    padding: 0 20px; 
    display: block;
    margin: auto 0;
    position: relative;
    transition: 0.1s ease-in-out;
}

.navbar-links ul li a:hover::after{
    content: "";
    width: 80%;
    height: 3px;
    border-radius: 30px;
    background-color: var(--primary-blue);
    position: absolute;
    bottom: -2px;
    left: 10%;
}

.toggle-button {
    position: absolute;
    top: .75rem; 
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
    cursor: pointer;
    /*opacity: 0;*/
}

.toggle-button .bar {
    height: 3px;
    width: 100%;
    background-color: var(--primary-blue);
    border-radius: 10px;
} 



/*Responsive nav bar for all small devices */
@media (max-width: 767.98px) {
    .toggle-button {
        display: flex;
    }

    .navbar-links {
        display: none;
        width: 100%;
    }

    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }

    .navbar-links ul {
        width: 100%;
        flex-direction: column;
    }

    .navbar-links li {
        text-align: center;
    }

    .navbar-links li a {
        padding: .5rem 1rem;
    }

    .navbar-links.active {
        display: flex;
    }

    .navbar-links ul li a:hover::after{
        opacity: 0;
    }
} 




/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) { 
    .navbar-links li a {
        font-size: 18px;
        padding: .5rem 0.5rem;
    }
}


/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) {     
    .navbar-links li a {
        font-size: 22px;
        padding: 0.5rem 0.75rem
    }
}

