@import '../../variables.css';

#services-page{
    background-color: var(--primary-blue);
}

.services-content h2{
    color: var(--primary-white);
}

.service-container {
    border: solid 2px var(--primary-white);
    border-radius: 50px;
    display: flex;
    margin-bottom: 40px;
    transition: 0.2s;
}

.service-container:hover {
    scale: 1.05;
}

.service-container-text {
    width:80%;
}

.service-container h3 {
    font-family: "Outfit", sans-serif;
    color: var(--primary-white);
    font-size: 2vw;
    margin: 20px 0 0 30px;
}

.service-container li {
    font-family: "Karla", sans-serif;
    font-weight: 450;
    font-size: 1vw;
    color: var(--primary-white);
    margin: 0;
    padding: 3px;
}

.left-icon {
    order: 1;
}

.right-text {
    order: 2
}

.right-text h3 {
    margin-left: 20px;
}

.right-text p {
    padding-left: 20px;
}

.service-icon-container {
    width: 12%;
    float: right;
    margin: auto;
}

.service-icon-container img {
    width: 100%;
}


/* ----- Responsive Settings ------ */

/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 767.98px) { 
    .service-container {
        flex-direction: column;
    }

    .service-container-text {
        width: 95%;
        padding: 0;
        margin: auto;
    }

    .service-icon-container {
        width: 40%;
        margin-bottom: 20px;
    }

    .right-text {
        order: 1;
    }

    .left-icon {
        order: 2;
    }

    .service-container h3 {
        font-size: 6vw;
    }

    .service-container li {
        font-size: 3vw;
    }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) { 
    .service-container-text {
        width: 70%;
    }

    .service-icon-container {
        width: 20%;
    }

    .service-container h3 {
        font-size: 2vw;
    }

    .service-container li {
        font-size: 1.6vw;
    }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) { 
    .service-container-text {
        width: 70%;
    }

    .service-icon-container {
        width: 20%;
    }

    .service-container h3 {
        font-size: 2vw;
    }

    .service-container li {
        font-size: 1.4vw;
    }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) and (max-width: 1399.98px) { 
    .service-container h3 {
        font-size: 2vw;
    }

    .service-container li {
        font-size: 1.2vw;
    }
}
