@import '../../variables.css';


.footer-container {
    height: 5vh;
    position: relative;
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
}

.footer-text-container {
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.footer-text-container p {
    font-family: "Karla", sans-serif;
    font-weight: 600;
    color: var(--primary-blue);
    font-size: 1vw;
}

.left-container p{
    margin-left: 40px;
}

.right-container p{
    flex: right;
    margin-left: auto;
    margin-right: 40px;
}

.footer-text-container a {
    color: var(--primary-orange);

}

.footer-company-logo-container {
    height: 100%;
    margin: auto;
    display: flex;
}

.footer-company-logo-container img {
    margin: auto;
    height: 90%;

}



/* ----- Responsive Settings ------ */

/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 767.98px) { 

    .footer-container {
        height: 10vh;
        flex-direction: column;
    }

    .footer-text-container {
        height: 25%;
        width: 100%;
        text-align: center;
    }

    .footer-text-container p {
        font-size: 2vw;
    }

    .left-container p{
        margin: 0;
    }
    
    .right-container p{
        margin: 0;
    }

    .footer-company-logo-container {
        height: 40%;
        margin: auto;
        display: flex;
    }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) { 
    .footer-text-container p {
        font-size: 1.4vw;
    }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) { 
    .footer-text-container p {
        font-size: 1.4vw;
    }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) and (max-width: 1399.98px) { 
    .footer-text-container p {
        font-size: 1.2vw;
    }
}