@import '../../variables.css';


.rare-earths-content h2{
    color: var(--primary-blue); 
}

.rare-earths-content{
    margin-bottom: 40px;
}

.rare-earths-content h3{
    font-family: "Outfit", sans-serif;
    color: var(--primary-blue);
    font-size: 3vw;
    text-align: center;
    margin-top: 40px;
    margin-bottom: 20px;
    font-weight: 700;
}

.rare-earths-content p {
    font-family: "Karla", sans-serif;
    font-weight: 500;
    font-size: 1vw;
    color: var(--primary-blue);
    margin:0;
}

.quote-container {
    width: 90%;
    margin: 0 auto;
}

p.quote{
    font-style: italic;
    font-weight: 400;
    font-size: 1.3vw;
    text-align: justify;
    margin-bottom: 0;
}

.quote-caption-container {
    width: 80%;
    margin-left: auto;
}

p.quote-caption {
    text-align: right;
    font-weight: 700;
}

.italics {
    font-style: italic;
}

.icon-container {
    width: 20%;
}

.icon-container img {
    width: 100%;
}

.rare-earth-stones-container {
    float:left;
    margin-right: 20px
}

.supply-chain-container {
    float: right;
    margin-left: 20px;
}


.process-container {
    display: flex;
}
.rare-earths-content h4 {
    font-family: "Outfit", sans-serif;
    color: var(--primary-blue);
    font-size: 2vw;
    text-align: center;
    margin-bottom: 20px;
    margin-top: 0;
    font-weight: 700;
}

.process {
    width: 30%;
    padding: 20px;
    margin: 20px;
}

.vacuum-reduction {
    padding: 0;
    margin-top: 30px;
}

.vacuum-reduction-header {
    margin-top: 0;
    padding-top: 0;
}

.factory-container {
    width: 70%;
    margin: 0 auto;
    margin-bottom: 0;
}

.factory-container img{
    width: 100%;
    margin: auto;
}

.manufacture-container {
    float:left;
    margin-right: 20px
}

/* ----- Responsive Settings ------ */

/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 767.98px) { 
    .rare-earths-content h3 {
        font-size: 6vw;
        margin-bottom: 40px;
    }

    .rare-earths-content br {
        content: "";
        margin: 2em;
        display: block;
        font-size: 60%;
    }

    .rare-earths-content p {
        font-size: 3vw;
    }

    p.quote{
        font-size: 3.5vw;
    }

    .icon-container {
        width: 40%;
    }

    .rare-earth-stones-container {
        margin-right: 20px;
    }

    .supply-chain-container {
        margin-left: 20px;
    }

    .process-container {
        flex-direction: column;
    }

    .process {
        width: 100%;
        margin: 0;
        padding: 0;
    }

    .rare-earths-content h4 {
        font-size: 4vw;
    }

    .factory-container {
        width: 40%;
        margin: 0 auto;
        margin-bottom: 0;
    }

    .manufacture-container {
        margin-right: 5px;
    }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) { 
    .rare-earths-content h3{
        font-size: 4vw;
        margin-bottom: 40px;
    }

    .rare-earths-content p {
        font-size: 1.6vw;
    }

    p.quote{
        font-size: 2vw;
    }

    .icon-container {
        width: 25%;
    }

    .rare-earth-stones-container {
        margin-right: 15px;
    }

    .supply-chain-container {
        margin-left: 15px;
    }

    .process {
        margin: 10px;
        padding: 5px;
    }

    .rare-earths-content h4 {
        font-size: 2vw;
    }

    .manufacture-container {
        margin-right: 5px;
    }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) { 
    .rare-earths-content h3{
        font-size: 4vw;
        margin-bottom: 40px;
    }

    .rare-earths-content p {
        font-size: 1.4vw;
    }

    p.quote{
        font-size: 1.8vw;
    }

    .icon-container {
        width: 25%;
    }

    .rare-earth-stones-container {
        margin-right: 15px;
    }

    .supply-chain-container {
        margin-left: 15px;
    }

    .process {
        margin: 10px;
        padding: 5px;
    }

    .rare-earths-content h4 {
        font-size: 2vw;
    }

    .manufacture-container {
        margin-right: 10px;
    }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) and (max-width: 1399.98px) { 
    .rare-earths-content h3{
        font-size: 4vw;
        margin-bottom: 40px;
    }

    .rare-earths-content p {
        font-size: 1.2vw;
    }

    p.quote{
        font-size: 1.6vw;
    }

    .process {
        margin: 10px;
        padding: 10px;
    }

    .rare-earths-content h4 {
        font-size: 2vw;
    }

    .manufacture-container {
        margin-right: 15px;
    }
}