@font-face {
    font-family: "Outfit";
    src: url("./assets/Fonts/Outfit/Outfit-VariableFont_wght.ttf")
}

@font-face {
    font-family: "Karla";
    src: url("./assets/Fonts/Karla/Karla-VariableFont_wght.ttf");
} 

.global{
    margin: 0;
    padding:0; 
    overflow-x: hidden;
}
