@import '../../variables.css';

#about-page{
    background-color: var(--primary-white);
}

.about-content h2{
    color: var(--primary-blue); 
}

/* Assign div boxes to grid items */
.item-1 { grid-area: item1; }
.item-2 { grid-area: item2; }
.item-3 { grid-area: item3; }
.item-4 { grid-area: item4; }
.item-5 { grid-area: item5; }
.item-6 { grid-area: item6; }

/*Change these for GSAP Scroll Trigger loading in */
.item-1, .item-2, .item-3, .item-4, .item-5, .item-6{
    transform: translateY(0);
    opacity: 1;
}

.about-boxes-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap:20px;
    width:100%;
    grid-template-areas:
        "item1 item2"
        "item3 item4"
        "item5 item6";
    margin-bottom: 30px;
}

.about-box {
    margin-bottom: 20px;
}

.text-box p{
    font-family: "Karla", sans-serif;
    font-weight: 500;
    font-size: 1vw;
    color: var(--primary-blue);
    margin:0;
    line-height: 1.3;
}

.image-box {
    display: flex;
    justify-content: center;
    align-content: center;
    position: relative;
}

.about-image-container {
    width: 90%; 
    display: flex;
    position: relative;  
    top: 0;
    left:0;
    z-index: 2;
    transition: 0.25s;
}

.right-image {
    transform: translate(-20px, -20px);
}

.left-image{
    transform: translate(20px, -20px);
}

.about-image-container img{
    width: 100%;
    height: auto;
    border-radius: 30px;
}

.image-box:hover .about-image-container {
    transform: translate(0);
    filter: blur(10px) ;
    opacity: 0.5;
}

.image-caption {
    position: absolute;
    width:70%;
    height:100%;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    opacity: 0;
    transition: 0.6s;
    z-index: 100;
    text-align: center;   
}

.image-caption p {
    font-family: "Karla", sans-serif;
    font-weight: 500;
    color: white;
    font-size: 1.2vw;
    transform: translateY(10px);
    transition: 0.6s;
}

.image-box:hover .image-caption {
    opacity: 1;
}

.image-box:hover .image-caption p{
    transform: translateY(0);
}

.about-image-background{
    width: 90%;
    height: 100%;
    border-radius: 30px;
    background-color: var(--primary-blue);
    position: absolute;
    top:0px;
    left: 5%;
}

/* ----- Responsive Settings ------ */

@media (max-width: 767.98px) { 
    /* Change order of about divs for mobile */
    .about-boxes-container {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(6, auto);
        grid-template-areas:
            "item1"
            "item2"
            "item4"
            "item3"
            "item5"
            "item6";
    }

    .about-box {
        margin-bottom: 0;
    }

    .about-box p{
        font-size: 3vw;
    }

    .about-image-container {
        width: 90%;
    }

    .about-image-container img{
        border-radius: 20px;
    }

    /*No offset on mobile*/
    .right-image {
        transform: translate(0);
    }
    
    .left-image{
        transform: translate(0);
    }

    .about-image-background{
        width: 90%;
        border-radius: 20px;
        left:5%;
    }    
}


/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) { 
    .about-box {
        margin-bottom: 15px;
    }
    
    .about-box br {
        content: "";
        margin: 2em;
        display: block;
        font-size: 20%;
    }

    .right-image {
        transform: translate(-15px, -15px);
    }
    
    .left-image{
        transform: translate(15px, -15px);
    }

    .about-content h2{
        font-size: 6vw;
        margin-bottom: 40px;
    }

    .about-box p{
        font-size: 1.4vw;
    }
}


/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) { 
    .right-image {
        transform: translate(-15px, -15px);
    }
    
    .left-image{
        transform: translate(15px, -15px);
    }

    .about-box p{
        font-size: 1.2vw;
    }
}


/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) and (max-width: 1399.98px) { 
    .about-box p{
        font-size: 1.2vw;
    }
}